body {
    font-size: 14px;
    line-height: 1.8;
    color: #fff;
    font-weight: 600;
    font-family: 'Poppins';
    margin: 0px;
    background-image: url("img/2");
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-position: center center;
}

.container {
    margin-top: 120px;
    margin-bottom: 70px;
    width: 500px;
    padding-top: 135px;
    padding-bottom: 115px;
    background-color: rgba(230, 243, 245, 0.49);
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-position: center center;
    overflow: hidden;
}

.content {
    color: #808B96;
}

.btn {
    float: right;
}

#button {
    width: 100%;
    padding: 5px 0 10px 0;
    padding-right: 10px;
}

.from-group {
    margin-bottom: 25px;
}